.hero{
    padding: 80px 24px;
    background-image: url(../img/7B389A6E-6F84-4987-85D0-987CDEE6CDF3_1_105_c.jpeg);
    background-size: cover;
    background-position: center;
    .container{
        text-align: center;
    }
}