@use 'hero';
@use 'event';
@use 'footer';
@use 'var';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
    list-style: none;
    text-decoration: none;
    color: #fff;
}

.container{
    max-width: 960px;
    width: 100%;
    margin: 0 auto;

    @media (max-width: 640px) {
        width: 80%;
    }
    @media (max-width: 1024px) {
        width: 90%;
    }
}

.title{
    font-size: 64px;
}

.text{
    font-size: 32px;
}

.button{
    cursor: pointer;
    img{
        border-radius: 50%;
        width: 56px;
        height: 56px;
    }
    &:hover{
        img{
            width: 64px;
            height: 64px;
        }
    }
}